* {
	box-sizing: border-box;
}

body {
	margin:      0;
	font-family: "Segoe UI", sans-serif;
}

header {
	margin:           0 auto;
	padding:          2%;
	background-color: darkslategray;
	color:            white;
}

.header-box {
	width:     80%;
	max-width: 900px;
	padding:   1% 0 1% 10%;
}

.header-box > hr {
	height: 1%;
}


h1 {
	font-family: "Segoe UI Black", sans-serif;
	font-weight: bold;
	
}

.btn {
	border-radius:    2em;
	padding:          0.75em 1em;
	background-color: mediumturquoise;
	text-decoration:  none;
	font-family:      "Segoe UI Black", sans-serif;
	font-weight:      bolder;
	text-transform:   uppercase;
	color:            #072a2d;
	white-space:      nowrap;
}

.btn:hover, .btn:focus {
	background-color: darkturquoise;
}

main {
	margin: 0 10%;
}

section {
	margin:    3em 2%;
	max-width: 800px;
}

@media only screen and (max-width: 450px) {
	body {
		font-size: 0.9rem;
	}
	
	.header-box, section {
		width: 70%;
	}
	
}

@media only screen and (max-width: 400px) {
	
	
	.header-box, section {
		width: 90%;
	}
}

@media only screen and (max-width: 350px) {
	
	.header-box, section {
		width: 100%;
	}
}