*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin:      0;
	font-family: "Segoe UI", 'Roboto', sans-serif;
	font-size: 1.3rem;
}

header {
	padding:          100px 0;
	background-color: #23424A;
	color:            white;
}

.container {
	width: 80%;
	max-width: 900px;
	margin: 0 auto;
}

.header__text {
	width: 60%;
}

h1 {
	font-family: "Segoe UI Black", 'Roboto', sans-serif;
	font-size: 3rem;
	font-weight: bold;
	
}

.btn {

	font-family:      "Segoe UI Black", 'Roboto', sans-serif;
	font-weight:      bolder;
	
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	
	color: #23424A;
	background-color: #38CFD9;
	
	padding: .75em 2em;
	border-radius: 100em;
}

.btn:hover,
.btn:focus {
	opacity: .75;
}

