* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

header {
	margin:           0 auto;
	padding:          2em;
	background-color: darkslategray;
	color:            white;
}

.header-box {
	width:     60%;
	max-width: 750px;
	padding:   5em 4em 5em 0;
}


h1 {
	font-family: "Segoe UI Black", sans-serif;
	font-weight: bold;
	
}

p {
	font-family: "Segoe UI", sans-serif;
}

.button {
	border-radius:    2em;
	padding:          0.75em 1em;
	background-color: mediumturquoise;
	text-decoration:  none;
	font-family:      "Segoe UI Black", sans-serif;
	font-weight:      bolder;
	text-transform:   uppercase;
	color:            #072a2d;
	white-space:      nowrap;
}

@media only screen and (max-width: 450px) {
	body {
		font-size: 0.9rem;
	}
}