* {
	box-sizing: border-box;
}

body {
	margin:      0;
	font-family: sans-serif;
	
}

header {
	
	background: #23424A;
	color:      white;
	padding:    50px 10%;
}

header, main {
	margin: 0 auto;
}

main {
	width: 80%;
}

section {
	max-width: 750px;
}

header > * {
	width:     50%;
	max-width: 750px;
}
