* {
	box-sizing: border-box;
}

body {
	margin:      0;
	font-family: sans-serif;
	
}

.container {
	
	margin:     0 auto;
	background: #23424A;
	color:      white;
	padding:    50px 10%;
}

.container2 {
	margin: 0 auto;
	width:  80%;
}

.intro-content {
	width:     50%;
	max-width: 750px;
}

.more-content {
	max-width: 750px;
}