* {
	box-sizing: border-box;
}

body {
	margin:      0;
	font-family: sans-serif;
}
header {
	background: #23424A;
	color:      white;
}

section, .container {
	width:     80%;
	max-width: 47em;
	margin:    0 auto;
}

.container {
	padding: 3em 0;
}

.container > * {
	width: 50%;
}

